.project
.settings
.classpath
./target
*/target
**/target
**/.DS_Store
**/bin
.DS_Store
*~
*.jar
*.war
*.ear
.idea
.idea/**
*.iml
*.log
nb-configuration.xml
my-settings.xml
dependency-reduced-pom.xml
*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/

